.filter-drawer {
  right: calc(100% - 400px);
}
.filter-settings {
  display: flex;
  flex-direction: column;

  overflow: hidden;
  overflow-y: auto;

  color: $text;
  font-family: $ui-font;

  margin: 0;

  .side-drawer-subheader {
    flex-basis: 34px;
    flex-shrink: 0;
    flex-grow: 0;

    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, .5);
    z-index: 5;
    margin: 5px 13px;

    .filter-settings-table-header {
      border: none;
      margin-top: 5px;
      thead {
        font-size: 13px;

        height: 100%;
        th {

          padding: 0px 5px;
          font-weight: 500;
        }
      }

      .reorder-column {
      }

      .visibility-column {
        padding: 0 5px;
      }

      .label-column {
        font-size: 13px;
        min-width: 86px;
      }

      .filter-value-column {
        .header-button-outline {
          float: right;
          border-radius: 2px;
          background-color: $sidedrawer-table-background-color;
          border-color: rgba(38, 50, 56, .2);

          padding-top: 3px;
          padding-bottom: 0px;
        }
      }
    }
  }

  .side-drawer-table-wrapper {
    overflow-y: auto;
    flex-basis: calc(100vh - 34px - 34px - 70px);
    flex-grow: 0;
    flex-shrink: 0;

      // table-styling
      .filter-settings-table {
        padding-top: 7px;
        width: 100%;

        font-weight: 500;

        background-color: $sidedrawer-table-background-color;
        border: none;

        input {
          font-weight: 500;
        }
      }
  }

  .subheader-buttons {
    display: inline;
    position:relative;
    top: -3px;
    float: right;

    button {
      font-size: 14px;
      font-weight: 500;
      border: 2px $primary-button solid;
      border-radius: 5px;
      padding: 5px 25px 3px 25px;
    }

    .header-button {
      background-color: $primary-button;
      color: white;

      &:hover {
        background-color: $dds-green2;
      }
    }

    .header-button-outline {
      color: $primary-button;

      &:hover {
        background-color: $dds-green2;
        color: $header-dark-background;
      }
    }
  }

  .ember-power-select-status-icon {
    color: #000105;
  }


  // ember-sortable styling

  .handle {
    cursor: move;
  }

  .sortable-item {}

  .is-dragging {}

  .reorder-column {
    padding: 6px 12px;
    width: 30px;
    text-shadow: 0px 1px 1px #4d4d4d;
    color: $sidedrawer-button-color;
    vertical-align: middle;

    .reorder-handles {
      width: 7px;
      height: 12px;
    }
  }

  .visibility-column {
    padding: 2px 6px 4px 6px;
  }

  .label-column {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100px;
    padding: 2px 6px;
    font-size: $widget-input-font-size;
    font-weight: 500;
  }

  .filter-type-column {
    width: 80px;
    padding: 2px 8px;
  }

  .filter-value-column {
    padding: 2px 8px 2px 6px;

  }

}
