.route-activity-log {
  height: 100%;

  display: flex;
  flex-direction: column;

  font-size: 12px;

  padding-left: 10px;

  .ember-light-table {
    flex: 1 0 100px;
  }

  .lt-row.is-selected {
    background-color: $table-row-selected-color !important;
  }

  .lt-cell {
    vertical-align: top;
  }
}
