.dashboard-widget {
  flex-grow: 1;

  overflow: hidden;

  box-shadow: 0px 0px 4px 0px $widget-shadow-color;
  background-color: $table-background-color;
  border-radius: 5px;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
    outline: 1px $widget-outline-color dashed;
  }
}

.widget-dropdown-content {
  margin-top: -1px;
  box-shadow: 0px 0px 2px 0px $widget-dropdown-shadow;
  font-family: $ui-font;
  font-size: $widget-body-font-size;
  background-color: $header-light-background;
  color: black;

  div {
    padding: 5px 10px;

    &:hover {
      cursor: pointer;
      background-color: $alt-primary-color;
      color: white;
    }

    &[disabled] {
      background-color: $button-disabled-background;
      color: $grey;
    }
  }

  i {
    margin-right: 6px;
  }
}
