.form-components-travel-need {
  .ember-power-select-trigger {
    // width: 68% !important;
  }

  td.cell-label.table-label {
    font-weight: 500;
    font-size: 12px;
    height: 23px;
    text-align: left;
  }

  .travel-need-table {
    border: 0;
    margin-top: 0rem !important;

    td.cell-label {

    }

    .edit-cell {

    }
  }

  td.button-cell {
  }

  .btn {
    padding: 0 0.40rem;
    font-size: 0.9rem;
  }

  td.cell-label.switch-cell-label {
    line-height: 1.2em;
  }
}
