
.minimize-button {
  padding-left: 7px !important;
  .fa-times {
    position: relative;
    top: -1px;
  }
}

.maximized-widget-content {
  height: 100%;

  .dashboard-widget {
    box-shadow: none;
  }
  .column-widget {
    .column-widget-body {
      flex-basis: auto;
    }
  }

  .map-widget {
    height: 100%;
    .map-widget-body {
      height: inherit;
      z-index: 1;
    }
  }
}
