.side-drawer {
  display: flex;
  flex-direction: column;

  height: calc(100vh - #{$nav-height});
  border-radius: 0;
  box-shadow: 7px 0px 20px -10px rgba(0, 0, 0, .4);

  position: fixed;
  top: $nav-height;
  left: 0;
  right: calc(100% - 400px);

  background-color: $sidedrawer-background-color;
  color: $sidedrawer-font-color;
  font-family: $ui-font;

  padding: 0;
  z-index: 99;

  input[type='checkbox'] {
    font-size: 1rem;
  }

  .side-drawer-header {
    padding: 0 13px;
    margin: 0;
    background-color: $sidedrawer-table-background-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .side-drawer-title {
      margin: auto 0;
      font-size: $sidedrawer-title-font-size;
      font-weight: 600;
    }

    .side-drawer-buttons {
      flex-grow: 0;
      flex-shrink: 0;
      line-height: 1.1;
      cursor: default;

      .side-drawer-button {
        padding: 8px 0;
        margin-left: 12px;
        background-color: transparent;
        color: $form-widget-button-color;
        border: none;
        cursor: pointer;
        outline: none;

        &:hover {
          transition: color 0.2;
          color: $primary-button;
        }

        i {
          font-size: 1em;
        }
      }
    }
  }


  .side-drawer-body {
    display: block;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: calc(100% - 70px - 34px);
    padding: 0;

    overflow: hidden;
    overflow-y: auto;

    color: $text;
    font-family: $ui-font;

    .side-drawer-subheader {
      width: 100%;
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, .5);
      z-index: 5;
      margin: 0;
    }

    .side-drawer-table-wrapper {
      overflow-y: auto;
      // height: calc(100% - 0px);
    }

    .side-drawer-section {
      margin: 0 0 7px 0;

      h5 {
        margin: 20px 0 5px 0;
      }

      label {
        width: 120px;
        display: inline-block;
        float: left;
        &.disabled {
          color: grey;
        }
      }

      .ui-slider {
        margin-right: 10px;
      }

      .ember-power-select-trigger {
        display: inline-block;
        width: calc(100% - 125px);
        margin-left: 5px;
      }

      input[type='number'] {
        display: inline-block;
        width: 65px;
        // text-align: center;
        margin-left: 5px;
      }

      .side-drawer-checkbox {
        label {
          width: auto;
          float: none;
        }
        font-size: 13px;

        .ember-checkbox {
          margin-right: 5px;
        }
      }

      .side-drawer-number-input {
        label {
          width: 120px;
          float: none;
        }
        font-size: 13px;
      }
    }

    .side-drawer-multi-select-section {
      label {
        width: 120px;
        display: inline-block;
        float: left;
        &.disabled {
          color: grey;
        }
      }

      .ember-power-select-trigger {
        display: inline-block;
        width: 30%;
        margin-left: 5px;
      }
    }
  }
  b {
    font-weight: 600;
  }


}

.side-drawer-shrunken {
  height: calc(100vh - #{$nav-height});
  border-radius: 0;
  width: 42px;
  box-shadow: 7px 0px 20px -10px rgba(0, 0, 0, .4);
  background-color: $table-background-color;
  padding: 0;

  position: fixed;
  top: $nav-height;
  left: 0;

  .side-drawer-buttons {
    padding-top: 10px;
    button {
      width: 100%;
      height: 100%;
      font-size: 12px;
      padding: 3px 5px;
      display: inline-block;
      background-color: inherit;
      border: none;
      color: $icon-light-color;
      opacity: 0.5;
      cursor: pointer;
      outline: none;

      &:hover {
        color: $alt-primary-color;
        transition: color 0.2s;
        opacity: 1;
      }

      span {
        i {
          font-size: 2em;
        }
      }
    }
  }
}
