.table-base-cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 2px;

  .ember-basic-dropdown-trigger {
    overflow: inherit;
    text-overflow: inherit;
    white-space: inherit;
  }
}
